.notebook-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #171616;
}

.notebook-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 10px;

}

.notebook-number {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notebook-number button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 8px;
  outline: none;

}

.notebook-number button:hover {
  background-color: var(--green);
}

.notebook-table {
  height: 80vh;
  padding: 10px;
  overflow: auto;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  /* border-bottom: 1px solid #f5f5f5; */
}

th{
  background-color: #181616;
}

tr:hover {
  background-color: #333333;
}

/* .expanded {
  background-color: #f5f5f5;
} */

.child-table {
  width: 100%;
  margin-left: 20px;
}

table tr:nth-child(even) {
  background-color: #181616;
}
table tr:nth-child(odd) {
  background-color: #262626;
}
