.splash-container {
    margin-left: 20%;
    margin-right: 20%;
}

.splash-nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    margin-top: 2%;
    padding: 5px 50px;
    z-index: 1;
    height: 60px;
    /* box-shadow: 0 2px 10px rgb(0 0 0 / 30%) */
}

.nav-header {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 3px;
}

.splash-name {
    color: black;
    font-size: 25px;
    font-weight: 700;
    /* font-family: soleil,sans-serif; */

}

.splash-login {
    display: flex;
    align-self: center;
}

.splash-top {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
    gap: 6px;
    padding-top: 40px;
    padding-bottom: 40px;


}

.splash-top h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: soleil,sans-serif;
}

.splash-top h2 {
    font-size: 24px;
    font-weight: 350;
    line-height: 40px;
    padding-bottom: 30px;
    text-align: center;
    font-family: soleil,sans-serif;
}

.splash-top > p {
    font-size: 16px;
    text-decoration: underline;
    font-family: soleil,sans-serif;
    color: #000;
    margin-bottom: 2%;
}

.splash-top > p:hover {
    color: #00A82D;
}

.splash-body {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.splash-text {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 250px;
}

.splash-txt {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 250px;
}

.splash-text .title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: soleil,sans-serif;
}

.splash-text .subtext {
    font-size: 16px;
    font-weight: 350;
    /* line-height: 40px; */
    /* padding-bottom: 30px; */
    font-family: soleil,sans-serif;
}

.splash-sign-up {
    background-color: #00A82D;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    letter-spacing: 1.5px;
}

.splash-sign-up:hover {
    background-color: #50be6d;
}


#splash-img {
    height: 400px;
}

#logo {
    height: 50px;
    padding-top: 0.4em;
}

.splash-login button {
    background-color: #00A82D;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    letter-spacing: 1.5px;
}

.splash-login button:hover {
    background-color: #50be6d;
}
.splash-footer{
    color: #000;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
    margin-top: 32px;
    gap: 16px;
}
