
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

.main-background-404 {

  background: #1c1919;
  /* background: #D3DEEA; */
  /* background: #f1c9f7; */
  /* background: #5865f2; */
  /* background-image: url("../../images/bg-Img.png.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* body {
  background: #D3DEEA;
} */

.top-404 {
  margin-top: 30px;
}

.container-404 {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost-404{
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy-404 {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}


.face-404 {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}
.eye-404, .eye-right-404 {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye-404 {
  left: 25%;
}
.eye-right-404 {
  right: 25%;
}

.mouth-404 {
  position:absolute;
  top: 50%;
  left: 41%;
  width: 9px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one-404, .two-404, .three-404, .four-404 {
  position: absolute;
  background: #EDEDED;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #BFC0C0;
  z-index: 0;
}

.one-404 {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two-404 {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three-404 {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four-404 {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow-404 {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #BFC0C0;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  50% {
     transform: translateY(15px);
  }
}

.bottom-404 {
  margin-top: 10px;
}

/*text styling*/

.top h1 {
  font-family: 'Abril Fatface', serif;;
  color: #EDEDED;
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}
.top h3 {
  font-family: 'Lato', sans-serif;;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #BFC0C0;
  margin-top: -20px;
  font-weight: 900;
}
.top p {
  text-align: center;
  font-family: 'Lato', sans-serif;;
  color: #585959;
  font-size: 1em;
  margin-top: -20px;
  text-transform: uppercase;
}

.search-404 {
  text-align: center;
}

.link-button-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}



.btn-404 {
  background: #EDEDED;
  padding: 15px 20px;
  margin: 5px;
  color: #585959;
  font-family: 'Lato', sans-serif;;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: 1px;
  border: 0;
  /* &:hover {
    background: #BFC0C0;
    transition: all .4s ease-out;
  } */
}
.btn-404 :hover {
    background: #BFC0C0;
    transition: all .4s ease-out;
}
