/* login form */
.login-container {
    display: flex;
    justify-content: center;
    background-image: url("./login_bg.jpg");
    /* height: 100vh; */
    color: black;
}

.login-container-form {
        padding: 16px;
        display: flex;
        /* height: 600px; */
        flex-direction: column;
        grid-gap: 16px;
        /* gap: 16px; */
        margin-top: 5%;
        box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
        text-align: left;
        max-width: 512px;
}

.login-logo {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}


.error-form {
    line-height: 1.8em;
    color: red;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
}

.login-bottom {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.login-form{
    display: flex;
    justify-content: center;
    color: black;
}
.form-field{
    display: flex;
    flex-direction: column;
    gap:4px
}
