.sidebar-container {
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    position: relative;
    left: 0;
    background-color: var(--grey-dark);
}

.sidebar {
    display: flex;
    flex-direction: column;

    height: 80%;
    /* color: var(--sidebar-font); */
    font-family: soleil, sans-serif;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
