.sidebar-container {
    position: relative;
    left: 0;
    background-color: #1c1919;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    flex-direction: column;

    height: 80%;
    font-family: soleil, sans-serif;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
