.home-container{
    height: 96vh;
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: black;
    padding: 32px;
    gap: 12px;
}

.home-welcome-title {
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #fff;
}

.home-welcome-date {
    font-size: 16px;
    color: #fff;

}

.home-parent{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 12px;
    height: 90%;
}

.home-notes-list {
    background-color: #181818;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: auto;
}

.home-notes-list-items-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 14px;
    gap: 14px;
    padding: 12px;
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
}

.home-notes-list-item {
    border-radius: 8px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .3);
    background-color: #262222;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 200px;
    width: 200px;
    outline: 1px solid transparent;
    cursor: pointer;
    justify-content: space-between;
}

.home-scratchpad {
    background-color: #262222;
    padding: 12px;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F5F5F5
  }
  ::-webkit-scrollbar-thumb{
    width: 4px;
    background: #555;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* singleNoteView - css */
.single-note-container-root{
    display: flex;
    flex-direction: column;
    height: 96vh;
    background-color: #171616;
    padding: 32px;

}
.single-note-main-container {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: #627464;
    overscroll-behavior: none;
    column-gap: 8px;
}

.single-note-body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    color: aliceblue;
}

.single-note-body-actions {
    height: 60px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    background-color: var(--notes-body);
}

.single-note-body-actions button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    padding: 8px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

.single-note-body-actions button:hover {
    background-color: var(--green);
}


.single-note-body-text {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.single-note-body-text-area {
    border: none;
    background-color: var(--notes-body);
    color: aliceblue;
    font-size: 16px;
    padding: 8px;
    flex-grow: 100;
    outline: none;
}
.single-note-body-title{
    height: 40px;
    background-color: var(--notes-body);
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    outline: none;
    border: none;
    padding: 8px;
    font-family: Source Sans Pro,-apple-system,system-ui,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
