.notes-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex: auto;
    background-color: rgb(72, 68, 68);

}

.notes-list-container {
    width: 20%;
    background-color: var(--notes-list);
    color: white;
}

.notes-list-note {
    height: 60px;
    padding: 8px;
    border-top: 0.5px solid #454343;
}
.notes-list-note:hover {
    background-color: #454343;
    cursor: pointer;
}

.notes-body-container {
    width: 80%;
    background-color: var(--notes-body);
}

/* note-body */
.notes-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: aliceblue;
}

.notes-body-actions {
    height: 60px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.notes-body-text {
    padding: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body-text-area {
    border: none;
    background-color: var(--notes-body);
    color: aliceblue;
    font-size: 16px;
    padding: 8px;
    flex-grow: 100;
    outline: none;
    margin-top: 12px;
}
.notes-body-title{
    height: 40px;
    background-color: var(--notes-body);
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    outline: none;
    border: none;
    font-family: Source Sans Pro,-apple-system,system-ui,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
